# AWS Credentials
.aws/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Serverless directories
.serverless

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.yarn-integrity

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDE files
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lambda layer
pillow-layer/
